.navHeader{
    background-image: linear-gradient(200deg,rgb(201, 238, 233),rgb(187, 121, 197));
    padding: 10px;
    margin-bottom: 10px;
}
.blogContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navMenu{
    display: flex;
}

.navLink{
    color: blue;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    list-style-type: none;
    cursor: pointer;
}